body {
	margin: 0;
	padding: 0;
}

div {
	position: relative;
}

div img {
	height: 95px;
	width: 269px;
	margin: 150px 40% 10px;
}

#texto {
	margin-left: 27%;
}

input {
	font-size: 18px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}