body {
	margin: 0;
	padding: 0;
}

div {
	position: relative;
}

div img {
	height: 95px;
	width: 269px;
	margin: 150px 40% 10px;
}

#texto {
	margin-left: 30%;
}

input {
	font-size: 18px;
}

#navbar ul {
	position: relative;
	list-style-type: none;
	margin: 20px;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	overflow: hidden;
	float: right;
	z-index: 1;
}

#footer ul {
	position: relative;
	right: 0;
  	bottom: 0;
  	left: 0;
  	padding: 1rem;
  	background-color: #efefef;
  	text-align: center;
  	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	overflow: hidden;
}

li {
	display: inline;
	margin-right: 10px;
	float: left;
}

a {
	text-align: center;
	text-decoration: none;
	color: gray;
}

a:hover {
	text-decoration: underline;
	color: black;
}